*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.nav-bar{
    background-color: #061b2f;
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    min-height: 500px;
    border-right: 1px solid #7fffd4;
    opacity: 0.8;
}
a{
    text-decoration: none;
}

#logo{
    color: #3cff8d;
    font-size: 50px;
    padding: 10px 29px;
}

.nav-bar nav{
    position: absolute;
    top: 35%;
}

.nav-bar nav a, ul li a{
    color: azure;
    display: block;
    padding: 10px 20px;
    text-align: center;    
}

.nav-bar a:hover{
    color: #3cff8d;
}

.nav-bar ul{
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 0;
    display: block;
    list-style: none;
}

.homepage{
    height: 100vh;
    background: 
    linear-gradient(90deg,
        rgba(6, 27, 47,0.8),
        rgba(6, 75, 139, 0.8)
    ),
    url(../img/alejandro-escamilla-5-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}

.text{
    font-size: 20px;
    color: #f0ffff;
    position: absolute;
    top: 35%;
    left: 150px;
}

.button-contact{
    background-color: transparent; 
    border: 1px solid ;
    color: #f0ffff;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
}

.aboutpage{
    height: 100vh;
    background: 
    linear-gradient(90deg,
        rgba(6, 27, 47,0.8),
        rgba(6, 75, 139, 0.8)
    ),
    url(../img/alejandro-escamilla-5-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    width: 980px;
    height: 100%;
    margin: 0 auto;
}

.container-l{
    width: 40%;
    margin: 0 0 0 120px;;
    float: left;
    padding-top: 150px;
}

.text-about h2, .text-skills h2{
    color: #3cff8d;
}

.text-about p, .text-skills p{
    color: #f0ffff;
    line-height: 1.5em;
}

.text-skills{
    margin-top: 15px;
}



